<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Single page web app using Angularjs</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="app.js"></script>
</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/about">About us</a></li>
      <li><a href="/contact">Contact us</a></li>
    </ul>
</nav>
</div>
<br/>
<h1>Are you craving a certain cuisine?</h1> 
</div
<form class="forms"action="demo_form.asp" method="get">
  <input type="checkbox" name="cuisine" value="chinese">Chinese<br>
  <input type="checkbox" name="cuisine" value="japanese" >Japanese<br>
  <input type="checkbox" name="cuisine" value="korean" >Korean<br>
  <input type="checkbox" name="cuisine" value="thai" >Thai<br>
  <input type="checkbox" name="cuisine" value="indian" >Indian<br>
  <input type="checkbox" name="cuisine" value="spanish" >Spanish<br>
  <input type="checkbox" name="cuisine" value="french" >French<br>
  <input type="checkbox" name="cuisine" value="italian" >Italian<br>
  <input type="checkbox" name="cuisine" value="german" >German<br>
  <input type="checkbox" name="cuisine" value="greek" >Greek<br>
  <input type="checkbox" name="cuisine" value="middle eastern" >Middle Eastern<br>
  <input type="checkbox" name="cuisine" value="american" >American<br>
  <input type="checkbox" name="cuisine" value="cajun" >Cajun<br>
  <input type="checkbox" name="cuisine" value="mexican" >Mexican<br>
  
  	<div>
  	<label for="ingredients">What ingredients do you have?</label>
  	<input type="text" name="ingredients">
	</div>
	<input type="submit" value="Submit">
</form>


</body>
</html>